.section-preview {
  font-size: 14px;
}

.section-preview {
  background: #fec8c5 url(bg.jpg) repeat fixed center;
}

/* 172b4d */

.team-preview {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}

.team-name {
  min-width: 50px;
  font-weight: 600;
}

.team-name--covered {
  position: relative;
  max-width: 100px;
}

.team-name--covered::before {
  content: "";
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 4px;
}

.board-tile {
  background-color: rgb(0, 121, 191);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  width: 160px;
  height: 100px;
}

.board-tile-title {
  font-weight: 600;
}


.team-body, .board-body {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.board-preview {
  background-color: rgb(0, 121, 191);
  border-radius: 4px;
}

.board-name {
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.list {
  background-color: rgb(235, 236, 240);
  color: rgb(23, 43, 77);
  border-radius: 4px;
}

.board-body {
  max-height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.list-title {
  font-weight: 600;
}

.card-list {
  overflow-x: hidden;
  overflow-y: auto;
}

/* width */
.u-fancy-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-clip: padding-box;
}

/* Track */
.u-fancy-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(9,30,66,.08);
  border-radius: 16px;
}

/* Handle */
.u-fancy-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(9,30,66,.25);
  border-radius: 16px;
  /* background-clip: padding-box; */
}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  width: 150px;
}

.card-content {
  position: relative;
}

.card-label {
  position: absolute;
  width: 40px;
  border-radius: 4px;
  height: 8px;
}

.card-label--green {
  background-color: #61bd4f;
}

.card-label--yellow {
  background-color: #f2d600;
}

.card-label--red {
  background-color: #eb5a46;
}

.card-label--purple {
  background-color: #c377e0;
}

.card-label--blue {
  background-color: #0079bf;
}

.card-label--sky {
  background-color: #00c2e0;
}

.card-label--black {
  background-color: #344563;
}
